# Untracked files

# ingnore pycache files
*.pyc
fold/blog/__pycache__/*
fold/home/__pycache__/*
__pycache__

# Database

fold/db.sqlite3

# Other

*.xml
*.iml
Pipfile.lock

# VS Code artifacts

*.vscode