.navbar-nav {
    margin-bottom: -1.1rem;
}

a {
    font-size: 1.5rem;
}

.navbar-brand{
    font-size: 3.25rem;
}

.bg-light{
    background-color: #ffffff!important;
}
/* overwrite stock bootstrap class */
.contact-form-group {
    margin-bottom: 0rem;
  }

.contact-form:focus {
    box-shadow: 0 0 0 0rem #ced4da;
    border: 1px solid #ced4da;
    border-bottom: none;
}
.contact-form:hover {
    background: #3A3335;
    color: #FFFFFF;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.contact-form {
    font-size: 0.875em;
    color: #3A3335;
    background: transparent;
    outline: none;
    border-radius: 0;
    border-bottom: none;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
}
    

body { 
    padding-top: 10rem;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.96);
}

.footer a {
  color: #333;
}

.contact-form-submit {
    font-size: 0.875em;
    color: #3A3335;
}
.footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.contact-form-textarea {
    border: 1px solid #ced4da;
}
.contact-form-submit {
    border: 1px solid #ced4da;
    cursor: pointer;
    border-top: none;
}

.contact-form-submit:hover {
    color: #FFFFFF;
}

.contact-form-control.is-valid, .was-validated .contact-form-control:valid, .contact-form-control.is-valid:focus,
.was-validated .contact-form-control:valid:focus   {
    border: 1px solid #ced4da;
    border-color: #ced4da;
    padding-right: none;
    background-image: none;
    box-shadow: 0 0 0 0px #ced4da;;
}
