.navbar-nav {
    margin-bottom: -1.1rem;
}

a {
    font-size: 1.5rem;
}

.navbar-brand{
    font-size: 3.25rem;
}

.bg-light{
    background-color: #ffffff!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
}

body { 
    padding-top: 10rem;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.96);
}

.footer a {
  color: #333;
}

.footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

