
/* overwrite stock bootstrap class */
.contact-form-group {
    margin-bottom: 0rem;
  }

.contact-form:focus {
    box-shadow: 0 0 0 0rem #3A3335;
    border-color: #3A3335;
}
.contact-form:hover {
    background: #3A3335;
    color: #FFFFFF;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.contact-form {
    font-size: 0.875em;
    color: #3A3335;
    background: transparent;
    outline: none;
    border-radius: 0;

}
.contact-form-submit {
    font-size: 0.875em;
    color: #3A3335;

    outline: none;
    cursor: pointer;

    border: solid 1px #3A3335;
    border-top: none;
}

.contact-form-submit:hover {
    color: #FFFFFF;
}